.form-default {
  width: 100%;
  position: relative;
  font-size: 0;

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="date"],
  textarea {
    height: @default-input-height;
    background-color: @defaultInputBGColor;
    border: solid 1px @default-input-border-color;
    padding-left: 5px;
    margin-top: 3px;
    width: 100%;
    font-size: @default-input-font-size;

    &:focus {
      outline: none;
    }
  }

  .bg-switch {
    vertical-align: middle;
    margin-right: 10px;
  }

  input[type="radio"] {
    height: 20px;
    margin: 3px 3px 3px 0;
    vertical-align: middle;
    font-size: 40px;
  }

  textarea {
    height: 150px;
    resize: none;
    padding-top: 11px;
  }

  .placeholder-style {
    color: @default-input-border-color;
    font-size: @default-input-font-size;
    text-transform: uppercase;
    line-height: (@default-input-height /2);
  }

  input::-webkit-input-placeholder {
    .placeholder-style;
  }

  input:-moz-placeholder { /* Firefox 18- */
    .placeholder-style;
  }

  input::-moz-placeholder {  /* Firefox 19+ */
    .placeholder-style;
  }

  input:-ms-input-placeholder {
    .placeholder-style;
  }

  header {
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }

  label {
    color: @labelDefaultColor;
    font-size: @default-label-font-size;
    font-weight: 600;
    padding-top: 10px;
    display: block;
  }

  label.half {
    width: 50%;
    display: inline-block;
  }

  label.half.half-first {
    padding-right: 10px;
  }

  label.half.half-second {
    padding-left: 10px;
  }

  label.animate-label {
    position: relative;
    padding: 0;

    .fa-times {
      position: absolute;
      right: 10px;
      bottom: 12px;
      color: #bbb;
      cursor: pointer;
      z-index: 3;

      &:hover {
        color: #444;
      }
    }

    input,
    textarea {
      position: relative;
      z-index: 1;
      margin: 5px 0;
      margin-bottom: 10px;
    }

    span {
      padding-left: 8px;
      position: relative;
      top: 31px;
    }
  }

  label.lbl-empty {

    .fa-times {
      display: none;
    }

    input,
    textarea {
      background-color: transparent;
      margin: 0;
    }

    span {
      background-color: #fff;
      transition: all .3s ease;
      .placeholder-style;
    }
  }

  label.lbl-full {
    padding-top: 10px;

    .fa-times {
      display: block;
    }

    input,
    textarea {
      background-color: @defaultInputBGColor;
      margin-bottom: 0;
    }

    span {
      top: 0;
      padding-left: 0;
      color: @labelDefaultColor;

      em {
        color: #f00;
        vertical-align: middle;
        padding-left: 2px;
      }
    }
  }

  label.error {
    input,
    textarea {
      border-color: @default-error-color;
    }

    .fa-times {
      top: 50%;
      margin-top: -3px;
    }

    .error-message {
      color: @default-error-color;
      font-weight: 600;
      font-size: 12px;
    }
  }

  .btn-wrapper {
    margin-top: 20px;
  }
}
