// ------------------------------------ //
//                                      //
//      BLUE GLASS THEME SETTINGS       //
//           by Stephen Young           //
//                                      //
// ------------------------------------ //


/* Main/General Settings: */
  @primary-font: 'Source Sans Pro', sans-serif;
  @main-color: #3da0e3;
  @secondary-color: #000;

/* Main Nav Bar Settings */
  // First Style
    @main-nav-link-color: #fff;
    @main-logo-color: #fff;
  // Second Style
    @second-nav-bgcolor: #fff;
    @second-main-nav-link-color: #000;
    @second-main-logo-color: #000;
    @second-main-logo-fa-color: #000;

/* Main Header Settings */
  // Background Color
    @header-bgcolor: #3da0e3;
  // Title
    @header-title-font-size: 60px;
    @header-title-font-color: #fff;
  // Subtitle
    @header-subtitle-font-size: 28px;
    @header-subtitle-font-color: #fff;
