// ------------------------------------ //
//                                      //
//      BLUE GLASS THEME SETTINGS       //
//           by Stephen Young           //
//                                      //
// ------------------------------------ //

  /* ------------------------- //
  // Main/General Settings     //
  // ------------------------- */

    @primary-font: 'Source Sans Pro', sans-serif;
    @main-color: #3da0e3;
    @secondary-color: #000;
    @link-color: #56b1ee;
    @paragraph-line-height: 2;

  /* ------------------------- //
  //  Main Nav Bar Settings    //
  // ------------------------- */

    @main-nav-link-color: #fff;
    @main-logo-color: #fff;
    @main-nav-font-size: 14px;
    @second-nav-bgcolor: #fff;
    @second-main-nav-link-color: #444;
    @second-main-logo-color: #444;
    @second-main-logo-fa-color: #444;

  /* ------------------------- //
  // Main Header Settings      //
  // ------------------------- */

    @header-bgcolor: @main-color;
    @header-title-font-size: 60px;
    @header-title-font-color: #fff;
    @header-subtitle-font-size: 28px;
    @header-subtitle-font-color: #fff;

  /* ------------------------- //
  // Main Footer Settings      //
  // ------------------------- */

    @main-footer-bgcolor: @main-color;
    @main-footer-link-color: #fff;

  /* ------------------------- //
  // Article Settings          //
  // ------------------------- */

    @article-max-width: 1000px;
    @article-padding: 30px;
    @article-border-color: transparent;
    @article-footer-font-size: 14px;
    @article-footer-text-color: #898989;
    @article-footer-border-color: transparent;

  /* ------------------------- //
  // Message Box Settings      //
  // ------------------------- */

    @success-box-color: #5cbb5f;
    @error-box-color: #d94343;
    @warning-box-color: #f09712;
    @alert-box-color: #f09712;

  /* ------------------------- //
  // Button Settings           //
  // ------------------------- */

    @BtnDefaultSolidColor: @main-color;
    @BtnDefaultClearColor: @main-color;
    @RoundBtnRadius: 20px;

  /* ------------------------- //
  // Switch Settings           //
  // ------------------------- */

    // Round Switch
      @roundSwitchHeight: 70px;
      @roundSwitchRadius: 60px;
      @roundSwitchOffBGcolor: #f1f1f1;
      @roundSwitchBorderColor: #dddddd;
      @roundSwitchOnBGColor: @main-color;
      @roundSwitchToggleBGColor: #fff;
      @roundSwitchDisabledBGColor: #fefefe;

    // Flat Switch
      @flatSwitchHeight: 35px;
      @flatSwitchOnColor: @main-color;
      @flatSwitchOffColor: #ddd;
      @flatSwitchDisabledBGColor: #eee;
      @flatSwitchPadding: 2px;
      @flatSwitchBtnPadding: 4px;

    // Yes & No Switch
      @yesNoSwitchHeight: 30px;
      @yesNoTextColor: #fff;
      @yesNoFontSize: 14px;
      @yesNoOffBGColor: #dddddd;
      @yesNoOnBGColor: @main-color;
      @yesNoTransition: rotateX(180deg);
      @yesNoTransitionOff: rotateX(0);

    // Square Switch
      @squareSwitchSize: 28px;
      @squareSwitchBorderColor: #ddd;
      @squareSwitchBorderSize: 3px;
      @squareSwitchOnBorderColor: @main-color;
      @squareSwitchOffBorderColor: #ddd;
      @squareSwitchOffBGColor: #fefefe;
      @squareSwitchOnBGColor: @main-color;
      @squareSwitchDisabledColor: #eee;

  /* ------------------------- //
  // Form Settings           //
  // ------------------------- */

      @labelDefaultColor: #444;
      @default-input-border-color: #ddd;
      @defaultInputBGColor: #fff;
      @default-input-font-size: 14px;
      @default-input-height: 40px;
